
body {
  font-family: 'Arial', sans-serif;
  margin: 20px;
  background: #f8f8f8;
  color: #222;
}

.form-container {
  background: white;
  padding: 20px;
  max-width: 400px;
  margin: auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
  display: block;
  margin-bottom: 10px;
}

form input {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  margin-bottom: 12px;
}

button {
  padding: 10px 15px;
  font-size: 16px;
}

.certificate {
  background: white;
  width: 864px; /* 9 inches */
  height: 624px;  /* 6.5 inches */
  margin: 40px auto;
  padding: 60px 40px;
  border: 2px solid #333;
  border-radius: 12px;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  position: absolute;
  top: 30px;
  right: 30px;
  height: 40px;
}

.title {
  text-align: center;
  color: #003366;
  font-size: 50px;
  font-weight: bold;
  margin-top: 70px;
  margin-bottom: 40px;
}

.body-text {
  font-size: 18px;
  text-align: center;  
  margin-top: 30;
  margin: 6px 0;
}

.cert-id {
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
  font-size: 16px;
}

.signatures {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  padding-top: 40px;
}

.signatures div {
  text-align: center;
  width: 40%;
}

.sig-placeholder {
  border-bottom: 1px solid #aaa;
  height: 50px;
  margin-bottom: 8px;
}

.signature-img {
  height: 40px;
  margin-bottom: 4px;
}

.student-name {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #444;
}

@media print {
  @page {
    size: 11in 8.5in;
    margin: 0.5in;
  }

  html, body {
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
  }

  body * {
    visibility: hidden;
  }

  .certificate, .certificate * {
    visibility: visible;
  }

  .form-container,
  #printBtn {
    display: none;
  }

  .certificate {
    position: relative;
    margin: 1 auto;
    width: 100%;
    max-width: 10in;
    height: auto;
    padding: 0;
    border: 2px solid #333;
    box-sizing: border-box;
  }
}
